{{ hook('HOOK_ACCOUNT_CREATE_BEFORE_FORM') }}
<form action="{{ getLink('account/create') }}" method="post" id="createaccount">
	{{ csrf() }}

	{# {% set title = 'Create ' ~ config.lua.serverName ~ ' Account' %} #}
	{% set content %}
		
		{{ hook('HOOK_ACCOUNT_CREATE_BEFORE_BOXES') }}

		<div class="form-section">
			{{ hook('HOOK_ACCOUNT_CREATE_BEFORE_ACCOUNT') }}

			{% if not config.account_login_by_email %}
			<div class="form-group">
				<label for="account_input" {% if errors.account is defined %}class="red"{% endif %}>
					Account {% if constant('USE_ACCOUNT_NAME') %}Name{% else %}Number{% endif %}
				</label>
				{% if not constant('USE_ACCOUNT_NAME') %}
					<div id="SuggestAccountNumber">
						[<a href="#">suggest number</a>]
					</div>
				{% endif %}
				<input type="text" name="account" id="account_input" 
					   maxlength="{% if constant('USE_ACCOUNT_NAME') %}30{% else %}10{% endif %}" 
					   value="{{ account }}" autofocus>
				<span id="account_error" class="FormFieldError">
					{% if errors.account is defined %}{{ errors.account }}{% endif %}
				</span>
			</div>
			{% endif %}

			{{ hook('HOOK_ACCOUNT_CREATE_AFTER_ACCOUNT') }}

			<div class="form-group">
				<label for="email" {% if errors.email is defined %}class="red"{% endif %}>Email Address</label>
				<input type="text" name="email" id="email" maxlength="50" value="{{ email }}">
				<span id="email_error" class="FormFieldError">
					{% if errors.email is defined %}{{ errors.email }}{% endif %}
				</span>
				{% if setting('core.mail_enabled') and setting('core.account_mail_verify') %}
					<small><strong>Please use real address! We will send a link to validate your Email.</strong></small>
				{% endif %}
			</div>

			{{ hook('HOOK_ACCOUNT_CREATE_AFTER_EMAIL') }}

			{% if setting('core.account_country') %}
			<div class="form-group">
				<label for="account_country" {% if errors.country[0] is defined %}class="red"{% endif %}>Country</label>
				<select name="country" id="account_country">
					{% for code, country_ in countries %}
						<option value="{{ code }}" {% if (country is defined and country == code) or (country is null and country_recognized == code) %}selected{% endif %}>{{ country_ }}</option>
					{% endfor %}
				</select>
				{% if errors.country is defined %}
					<span class="FormFieldError">{{ errors.country }}</span>
				{% endif %}
			</div>
			{% endif %}

			{{ hook('HOOK_ACCOUNT_CREATE_AFTER_COUNTRY') }}

			<div class="form-group">
				<label for="password" {% if errors.password is defined %}class="red"{% endif %}>Password</label>
				<input type="password" name="password" id="password" maxlength="29">
				<span id="password_error" class="FormFieldError">
					{% if errors.password is defined %}{{ errors.password }}{% endif %}
				</span>
			</div>

			<div class="form-group">
				<label for="password_confirm" {% if errors.password is defined %}class="red"{% endif %}>Repeat Password</label>
				<input type="password" name="password_confirm" id="password_confirm" maxlength="29">
				<span id="password_confirm_error" class="FormFieldError">
					{% if errors.password is defined %}{{ errors.password }}{% endif %}
				</span>
			</div>

			{{ hook('HOOK_ACCOUNT_CREATE_AFTER_PASSWORDS') }}
		</div>

		{{ hook('HOOK_ACCOUNT_CREATE_BETWEEN_BOXES_1') }}

		{% if setting('core.account_create_character_create') %}
		<div class="form-section">
			<div class="form-group">
				<label for="character_name" {% if errors.name is defined %}class="red"{% endif %}>Character Name</label>
				<input id="character_name" name="name" maxlength="{{ setting('core.create_character_name_max_length') }}" value="{{ name }}">
				<span id="character_error" class="FormFieldError">
					{% if errors.name is defined %}{{ errors.name }}{% endif %}
				</span>
			</div>

			<div class="form-group">
				<label {% if errors.sex is defined %}class="red"{% endif %}>Sex</label>
				{% set i = 0 %}
				{% for id, gender in config.genders|reverse(true) %}
					{% set i = i + 1 %}
					<div class="radio-option">
						<input type="radio" name="sex" id="sex{{ i }}" value="{{ id }}" {% if sex is not null and sex == id %}checked{% endif %}>
						<label for="sex{{ i }}">{{ gender|lower }}</label>
					</div>
				{% endfor %}
				<span id="sex_error" class="FormFieldError">
					{% if errors.sex is defined %}{{ errors.sex }}{% endif %}
				</span>
			</div>

                {% if config.character_samples|length > 1 %}
    <div class="form-group">
        <label {% if errors.vocation is defined %}class="red"{% endif %}>Vocation</label>
        <div class="vocation-options">
            {% for key, sample_char in config.character_samples %}
                <input type="radio" name="vocation" id="vocation{{ key }}" value="{{ key }}" 
                    {% if vocation is not null and vocation == key %}checked{% endif %} class="hidden-radio"/>
                <label for="vocation{{ key }}" class="vocation-label">
                    <img src="{{ template_path }}/media/vocations/{{ key }}.png" alt="{{ config['vocations'][key] }}" />
                </label>
            {% endfor %}
        </div>
        <span id="vocation_error" class="FormFieldError">
            {% if errors.vocation is defined %}{{ errors.vocation }}{% endif %}
        </span>
    </div>
    {% endif %}

			{% if config.character_towns|length > 1 %}
			<div class="form-group">
				<label {% if errors.town is defined %}class="red"{% endif %}>Select your town</label>
				{% for town_id in config.character_towns %}
					<div class="radio-option">
						<input type="radio" name="town" id="town{{ town_id }}" value="{{ town_id }}" {% if town is not null and town == town_id %}checked{% endif %}>
						<label for="town{{ town_id }}">{{ config.towns[town_id] }}</label>
					</div>
				{% endfor %}
				<span id="town_error" class="FormFieldError">
					{% if errors.town is defined %}{{ errors.town }}{% endif %}
				</span>
			</div>
			{% endif %}
		</div>
		{% endif %}

		{{ hook('HOOK_ACCOUNT_CREATE_BETWEEN_BOXES_2') }}

		<div class="form-section">
			<div class="form-group">
				<label>
					<input type="checkbox" id="accept_rules" name="accept_rules" value="true" {% if accept_rules %}checked{% endif %}>
					I agree to the <a href="?subtopic=rules" target="_blank">{{ config.lua.serverName }} Rules</a>.
				</label>
				{% if errors.accept_rules is defined %}
					<span class="FormFieldError">{{ errors.accept_rules }}</span>
				{% endif %}
			</div>
		</div>

		{{ hook('HOOK_ACCOUNT_CREATE_AFTER_BOXES') }}

	{% endset %}

	{% include 'tables.headline.html.twig' %}

	<br>
	{{ hook('HOOK_ACCOUNT_CREATE_BEFORE_SUBMIT_BUTTON') }}

	<div class="form-submit">
		<input type="hidden" name="save" value="1">
		{{ include('buttons.submit.html.twig') }}
	</div>

</form>
{{ hook('HOOK_ACCOUNT_CREATE_AFTER_FORM') }}

<script src="{{ constant('BASE_URL') }}tools/check_name.js"></script>

<style>
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        max-width: 600px; /* opcjonalnie ograniczenie szerokości */
    width: 90%; /* wypełnia większość ekranu na mobile */
    }
	.form-group {
		margin-bottom: 1rem;
		display: flex;
		flex-direction: column;
	}
	.form-group label {
		font-weight: bold;
		margin-bottom: 0.25rem;
	}
	.FormFieldError {
		color: red;
		font-size: 0.9rem;
	}
	.radio-option {
		display: inline-block;
		margin-right: 1rem;
	}
	.form-submit {
		text-align: center;
		margin-top: 1.5rem;
	}

    .hidden-radio {
        display: none;
    }

    .vocation-options {
        display: flex;
        gap: 10px;
    }

    .vocation-label {
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 6px;
        transition: border 0.2s, transform 0.2s;
    }

    .vocation-label img {
        display: block;
        width: 64px;
        height: 64px;
    }

    .hidden-radio:checked + .vocation-label {
        border-color: #f4f1ee;
        transform: scale(1.1);
    }
    
	#SuggestAccountNumber {
		font-size: 0.8rem;
	}
</style>
